
#navbar{
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
    overflow: hidden;
    height: 80px;
}
h1{
    color:red
    
}
.heading-small{
    font-size: 0.9rem;
} 
.p1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    color: #fff;
    font-size: 0.70rem;
    padding: 7px;

}
#training .items {
    flex-direction: column;
}
#training .items .items{
    width: 100%;
}

.courses .course{
    flex-direction: column;
}